body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#logo {
    margin-bottom: 10px; /* Adicione margem abaixo do logotipo */
}

nav {
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Adicione margem entre os links */
}


#corpo {
    padding: 20px;
    text-align: center; /* Centralizando o conteúdo do corpo */
}

#mensagem-form {
    margin-top: 20px;
}

#mensagem-input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
}

#enviar-btn {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#atalhos {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50%;
    margin-left: 450px;
}

#atalhos p {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

#atalhos p:first-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

#atalhos p:last-child {
    padding-top: 15px;
}
